.block {
  width: 21px;
  height: 21px;

  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.muted {
  opacity: 0.2;
}

.isAutoplaying {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
}
