.block {
  position: relative;

  margin-top: -50px;
  width: 1100px;
  height: 603px;
  background-image: url("/media/images/slot-high-back-spielfeld.png");
  background-size: cover;

  z-index: 10;
}
