@font-face {
  font-family: "akaPosse";
  src: url("/fonts/akaPosse.ttf.woff") format("woff"),
    url("/fonts/akaPosse.ttf.svg#akaPosse") format("svg"),
    url("/fonts/akaPosse.ttf.eot"),
    url("/fonts/akaPosse.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
GENERAL
========================================================================== */

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: transparent url("/images/twinkling.png") repeat top center;
  z-index: 1;

  animation: move-twink-back 400s linear infinite;
}

.after.visible {
  display: block;
}

.before.visible {
  display: block;
}

h1,
h2,
h5 {
  font-family: "akaPosse";
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #282828;
  position: relative;
  background: url("/images/back.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

}

#loading {
  z-index: 3;
  position: absolute;
  animation: rotation 4s infinite linear;
  top: 25%;
  left: 35%;
}
#loading img {
  max-width: 70%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.container {
  z-index: 5;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  transform: translatey(0px);
}

.header,
.title,
.main {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.title {
  margin-top: -38px;
  z-index: 0;
}

.down {
  position: relative;
  z-index: 0;
}
.up {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.inline {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.main {
  margin-top: -50px;
  position: relative;
  width: 100%;

  /* background-image: url("images/slot-high-back-spielfeld.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.hidden {
  display: none;
}

/* ==========================================================================
ABOUT
========================================================================== */
.main_about {
  margin-top: 4vw;
  width: 100%;
  height: 100%;

  color: white;

  text-align: left;
}
.main_about h3 {
  text-align: center;
  padding-bottom: 20px;
}

.content_about {
  width: inherit;
  margin: 0 auto;
  position: relative;

  height: 70%;
  overflow: hidden;
  max-width: 800px;
  cursor: n-resize;
  font-family: "Special Elite", cursive;
}
.content_about div {
  padding-top: 40px;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
  margin-right: -20px; /* Increase/decrease this value for cross-browser compatibility */
  padding: 0 80px;

  box-sizing: content-box;
}

.content_about div p {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}
.content_about div a {
  font-weight: 600;
  color: #ebf62d;
}

.main_about h3 {
  font-family: "akaPosse";
  margin: 0 auto;

  font-size: 2em;
}

.back {
  font-family: "akaPosse";
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 2vw;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
}

/* ==========================================================================
ARROWS AND WINDOWS
========================================================================== */

.main_arrowleft,
.main_arrowright {
  width: 15%;
}

.main_arrowleft {
  position: relative;
  background-position: center;

  text-align: center;
}
.text_play {
  font-family: "Special Elite", cursive;
  font-size: 1.4em;
  width: 80%;
}

.main_windows {
  width: 62%;
  margin-top: 5vw;

  position: relative;
}
.foto {
  display: inline-block;
  width: 28%;
  height: 10vw;
  margin-bottom: 3vh;

  overflow: hidden;
}

.foto img {
  height: 10vw;
}
@media screen and (min-width: 1800px) {
  .foto,
  .foto img {
    height: 9vw;
  }

  .main_windows {
    margin-top: 3.5vw;
  }
}

@media screen and (max-width: 1450px) {
  .foto,
  .foto img {
    height: 15vw;
  }
}

@media screen and (max-width: 600px) {
  .foto,
  .foto img {
    height: 15vw;
  }
}

.main_windows .img_frame {
  width: 100%;
  position: absolute;
  top: -3.5vw;
  left: 0;
}

/* ==========================================================================
CENTRAL SECTION - DONATE - TITLES - RANDOM
========================================================================== */
.donate,
.random {
  width: 15%;
  height: 100px;
  margin-top: -2vw;
  vertical-align: top;
}

.donate img,
.random img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.donate img {
  width: 60%;
}

.donate {
  width: 15%;
}

.donate img:hover,
.random img:hover {
  transform: scale(1.1);
}

.center {
  width: 65%;
}

.main_songtitle {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: -2vw;
  position: relative;
}

.tracks {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  left: 50%;
  padding-bottom: 10px;
  transform: translate(-50%, -50%);
}
.track_title {
  width: 30%;
  font-family: "akaPosse";
  font-size: 1em;
  cursor: pointer;
}

.track_title .mute {
  opacity: 0.2;
  z-index: 10;

  position: absolute;
  width: 10%;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.track_title .mute.muted-css {
  opacity: 1;
}

.track_title .mute.muted {
  opacity: 1;
}

.main_choice {
  max-width: 90%;
  margin: 0 auto;
  margin-top: -20px;
}

.main_choice .inline {
  width: 30%;
  position: relative;
}

.machine_results {
  font-family: "akaPosse";
  position: absolute;
  font-size: 1em;
  width: 80%;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.machine_results .active {
  display: block;
}
.machine_results h4 {
  display: none;
}
.titles {
  display: none;
}
.slot {
  /* height: 4em;
    top:50%;*/
  height: 50px;
}
.slot h4 {
  margin: 0;
  /* line-height: 2em;*/
  height: 45px;
}
.text_auto {
  margin-bottom: 20px;
  font-family: "Special Elite", cursive;
  font-size: 1.5em;
  color: yellow;
}
/*
.custom_select{
    width: 70%;
    font-family: 'akaPosse';
    display: none;
    font-size: 1em;
}


.select_audio{
    display: none;
}
.select-selected {

  background-color: transparent;
  opacity: 0.8;
}

.select-items div,.select-selected {
    font-size: 0.8em;
  padding: 2px 20px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: #eb203d;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select_title{
    font-size: 2em !important;
}
*/
.results {
  font-family: "akaPosse";
  font-size: 0.8em;
}
.before {
  display: none;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.after {
  display: none;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.before img,
.after img {
  width: 25px;
}

.list_results {
  display: none;
}

.list_results:first-of-type {
  display: block !important;
}

/* ==========================================================================
FOOTER SECTION
========================================================================== */

.main_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 1vw;
}

.footer_button {
  width: 22%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.footer_title {
  width: 50%;
}

.text_footer {
  font-family: "akaPosse";
  font-size: 2em;
}

.text_center {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-family: "Special Elite", cursive;

  position: absolute;
  z-index: 10;
}
img {
  position: relative;
  max-width: 100%;
  z-index: 0;
}
.content {
  position: absolute;
  z-index: 10;

  width: 100%;
}
h1 {
  text-align: center;
  margin: 0 auto;
  line-height: 7vw;
  font-size: 7vw;
}
h5 {
  font-size: 1.5vw;
  line-height: 2vw;
  margin: 0;
}

h2 {
  font-size: 4.8vw;
  letter-spacing: 1.2vw;
}
.header_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li a {
  color: green;
}
ul {
  display: none;
}

.hidden-files {
  background: white;
}

@media screen and (max-width: 700px) {
  .foto,
  .foto img {
    height: 15vw;
  }
}

@media screen and (max-width: 400px) {
  .foto {
    margin-bottom: 2.5vh;
  }
}
